* {
	box-sizing: border-box;
}

body {
	background-color: white;
}

p {
	padding: 5px;
	font-family: sans-serif;
}

.pageTitle {
	width: 100%;
	font-size: 175%;
	text-align: center;
}

.titleBox {
	float: right;
	top: 0px;
	right: 0px;
	padding: 3px;
	width: 25%;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	text-align: center;
	font-size: 125%;
}

.content {
	width: 100%;
	clear: right;
	padding: 5px;
}

.colour1 {
	background-color: #ffa07a;
}

.colour2 {
	background-color: #ff0000;
}

.colour3 {
	background-color: #ffdead;
}

@media (min-width: 992px) {
	.lg_33, .innerBox2, .innerBox3 {
		float: left;
		margin: 1%;
		background-color: lightgray;
		border: 1px solid black;
	}

   	.lg_33 {
		width: 31%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.med_50, .med_100 {
		float: left;
		margin: 1%;
		background-color: lightgray;
		border: 1px solid black;
	}

	.med_50 {
		width: 48%;
	}
	.med_100 {
		width: 98%;
	}
}

@media (max-width: 768px) {
	.small_100 {
		float: left;
		margin: 1%;
		background-color: lightgray;
		border: 1px solid black;
	}
	.small_100 {
		width: 98%;
	}
}

